@use "./../app/globals.scss";

.Home {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  .content-wrapper {
    display: flex;
    width: 65vw;
    gap: 50px;

    .icon-wrapper {
      justify-content: center;
      display: flex;
      flex-direction: column;
      gap: 12px;

      a {
        color: black;
        &:hover {
          color: globals.$sophie-pink;
        }
      }
    }

    .text-wrapper {
        justify-content: center;
        display: flex;
        flex-direction: column;

        .name {
            font-size: 36px;
            padding-bottom: 15px;
        }
    }

    .profile-picture {
        max-height: 45vh;
    }
  }
}