@use "./../app/globals.scss";

.Home {
  display: flex;
  height: calc(100vh - 60px);
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  .content-wrapper {
    display: flex;
    align-items: center;
    width: 65vw;
    gap: 50px;
    padding-bottom: 30px;

    .icon-wrapper {
      justify-content: center;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .text-wrapper {
      justify-content: center;
      display: flex;
      flex-direction: column;

      .name {
        font-size: 36px;
        padding-bottom: 15px;
      }

      .greeting {
        font-size: 26px;
      }
    }

    .profile-picture {
      max-height: 45vh;
      border-radius: 50%;
      user-select: none;
    }
  }

  p {
    font-size: 16.5px;
  }
}

@media only screen and (max-width: 1024px) {
  .Home {
    .content-wrapper {
      flex-direction: column-reverse;
      justify-content: center;
      width: 75vw;
      gap: 15px;
      padding-bottom: 50px;

      .text-wrapper {
        .greeting {
          font-size: 24px;
        }

        .name {
          font-size: 30px;
        }
      }

      .icon-wrapper {
        flex-direction: row;
        align-items: flex-end;
        padding-top: 5px;
      }

      .profile-picture {
        max-width: 95%;
      }
    }
  }
}
