@use "../app/globals.scss" as *;

nav.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  &.light {
    .theme-toggle-icon {
      color: $sophie-black;
    }
  }

  &.dark {
    background-color: $sophie-black;

    .center-section a {
      color: white;
    }

    .theme-toggle-icon {
      color: white;
    }
  }

  .left-section {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 5px;

    svg {
      height: 35px;
      width: 35px;
    }
  }

  .center-section {
    display: flex;
    gap: 20px;
    margin-left: auto;
    margin-right: 10px;

    a {
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
      color: $sophie-black;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .right-section {
    display: flex;
    align-items: center;
    gap: 5px;

    .hamburger {
      display: none;
      padding: 8px;

      svg {
        width: 28px;
        height: 28px;

        @media (max-width: 768px) {
          width: 24px;
          height: 24px;
        }
      }
    }

    @media (max-width: 768px) {
      .hamburger {
        display: inline-flex !important;
      }
    }
  }

  .desktop-only {
    @media (max-width: 768px) {
      display: none !important;
    }
  }

  .mobile-only {
    display: none;

    @media (max-width: 768px) {
      display: inline-flex !important;
    }
  }
}

.side-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 50vw;
  max-width: 300px;
  height: 100vh;
  background-color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 15px;
  transition: right 0.3s ease;

  &.open {
    right: 0;
  }

  &.light {
    .theme-toggle-icon {
      color: $sophie-black;
    }
    a {
      color: $sophie-black;
    }
  }

  &.dark {
    background-color: $sophie-black;

    .theme-toggle-icon {
      color: white;
    }

    a {
      color: white;
    }
  }

  .side-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;

    .side-menu-header-left {
      display: flex;
      align-items: center;
      gap: 10px;

      svg {
        height: 35px;
        width: 35px;
      }

      .toggle-btn {
        background: none;
        border: none;
        cursor: pointer;
        padding: 5px;

        svg.theme-toggle-icon {
          width: 25px;
          height: 25px;
        }
      }
    }

    .close-btn {
      padding: 5px;

      svg {
        width: 22px;
        height: 22px;
      }
    }
  }

  .side-menu-items {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 5px;

    a {
      text-decoration: none;
      font-size: 18px;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}