@use "../app/globals.scss" as *;
@use "./gallery.scss" as *;

.Personal {
  padding: 2rem 1.5rem;

  .Gallery {
    .gallery-columns {
      max-width: 80vw;
      display: grid;
      grid-template-columns: 1fr;
      margin: 0 auto !important;
    }

    .gallery-item {
      margin-bottom: 16px !important;

      &:last-child {
        margin-bottom: 0 !important;
      }

  img {
    display: block !important;
    max-height: 95vh !important;
    width: auto !important;
    height: auto !important;
    object-fit: contain !important;
    margin: 0 auto;
    cursor: pointer !important;
  }
    }
  }
}
