@use "../app/globals.scss" as *;
@use "./gallery.scss" as *;

.Photography {
  padding: 2rem 1.5rem;
  min-height: 100vh;
  background-color: var(--background-rgb);
  color: var(--foreground-rgb);

  .gallery-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .loading {
    text-align: center;
    padding: 2rem;
    font-size: 1rem;
    opacity: 0.8;
  }

  .gallery-columns {
    gap: 5px !important;
    margin-top: 24px !important;
  }

  .gallery-item {
    margin-bottom: 5px !important;
  }
}